.movies-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 270px;
  height: 218px;
  box-shadow: 0px 16px 24px 0px #0000000d;
  overflow: hidden;
  border-radius: 10px;
}
.movies-card__img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1.79/1;
  width: 100%;
  cursor: pointer;
}
.movies-card__info {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 14px 12px 0px;
  height: 67px;
  background: #fdfdfd;
}
.movies-card__name {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.movies-card__save {
  width: 16px;
  height: 16px;
  padding: 0px;
  margin: 0px;
  border-radius: 100%;
  background: #f9f9f9;
  border: 2px solid white;
  box-shadow: 0px 3px 6px 0px #00000017;
  cursor: pointer;
}
.movies-card__save_true {
  background: #2be080;
}
.movies-card__delete {
  padding: 0px;
  margin: 0px;
  width: 8px;
  height: 8px;
  cursor: pointer;
}
.movies-card__duration {
  margin: 10px 0px 14px 12px;
  padding: 0px;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #a0a0a0;
}
@media (max-width: 768px) {
  .movies-card {
    width: 339px;
    height: 257px;
  }
  .movies-card__img {
    height: 190px;
  }
}
@media (max-width: 525px) {
  .movies-card {
    width: 300px;
    height: 235px;
  }
  .movies-card__img {
    height: 168px;
  }
}
