.sectoin-title {
  margin: 0px 0px 0px;
  padding: 0px 0px 23px;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: black;
  border-bottom: 1px solid black;
}
