.mobile-navigation {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 159px 0px 90px;
  height: 100%;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}
.mobile-navigation__links {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  justify-content: center;
  align-items: center;
}
.mobile-navigation__link {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px 0px 4px;
  width: max-content;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  text-decoration: none;
  color: black;
}
.mobile-navigation__link_active {
  border-bottom: 2px solid black;
}
.mobile-navigation__profile {
  box-sizing: border-box;
  display: block;
  margin: 0px;
  padding: 0px;
  width: 100px;
  height: 32px;
  border: none;
  border-radius: 20px;
  background: #f9f9f9;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: black;
}
@media (max-width: 525px) {
  .mobile-navigation {
    padding: 145px 0px 46px;
  }
  .mobile-navigation__links {
    row-gap: 19px;
  }
}
