.navtab {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  width: 100%;
  height: 66px;
  column-gap: 40px;
}
.navtab__link {
  font-size: 13px;
  font-weight: 500;
  color: black;
  transition: opacity 0.2s linear;
}
.navtab__link:hover {
  opacity: 0.8;
}
